# Current environment of the app.
# Change this to 'production' when in production stage.
NODE_ENV=development

# Define external API used by the app here
# Do not include trailing slash
API_URL=https://api.example.com/api/v1
